{% extends "condominio/base.html" %}
{% load bootstrap4 %}
{% bootstrap_messages %}

{% block active_navbar_perfil %}
<a class="nav-link active" href="{% url 'condominio:perfil' %}">Perfil</a>
{% endblock %}

{% block content_head %}
<div class="row mt-2">

  <div class="col">
    <h2>Actualizar contraseña</h2>
  </div>

</div>
{% endblock %}

{% block contenido %}
<div class="row">
  <div class="col">
    <form class="" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
      <input class="btn btn-success" type="submit" name="" value="Confirmar">
      {% endbuttons %}

    </form>

  </div>

</div>
{% endblock %}
