{% extends "condominio/base.html" %}

{% block active_navbar_anuncios %}
<a class="nav-link active" href="{% url 'condominio:anuncios' %}">Anuncios</a>
{% endblock %}

{% block content_head %}
<div class="row mt-2">

  <div class="col-sm-6 col-md-8 col-lg-10">
    <h2>Anuncios Condominio</h2>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <a href="{% url 'condominio:crearAnun' %}" class="btn btn-success btn-block">Crear Anuncio</a>
  </div>

</div>
<hr>
{% endblock %}

{% block contenido %}
<div class="row">
  <div class="col">

    <section class="">

      <div class="row">
        <div class="col">
          <h3>Anuncios publicados por administradores.</h3>
        </div>
      </div>

      {% for anuncio in anunciosAdmin %}
      <div class="card shadow-sm rounded my-3 ">
        <div class="col my-1">

          <div class="row ">
            <div class="col">

              <div class="row">
                <div class="col-9">
                  <p class="" style="font-weight:bold; font-size:20px">{{anuncio.titulo}}</p>
                </div>
                {% if anuncio.perfil.user == request.user %}
                <div class="col-3">
                  {% if perms.condominio.change_anuncio %}
                  <a href="{% url 'condominio:editarAnun' anuncio.id %}">Editar
                    <i class="fas fa-edit color_update"></i>
                  </a>
                  {% endif %}
                  {% if perms.condominio.change_anuncio and perms.condominio.delete_anuncio %}
                  |
                  {% endif %}
                  {% if perms.condominio.delete_anuncio %}
                  <a href="{% url 'condominio:borrarAnun' anuncio.id %}">Eliminar
                    <i class="fas fa-trash-alt color_delete"></i>
                  </a>
                  {% endif %}
                </div>
                {% else %}
                
                <div class="col-3">

                </div>
                {% endif %}
              </div>
              <p class="">{{anuncio.descripcion}}</p>
              <p class="" style="font-style:oblique;">Publicado por:
              {{anuncio.perfil.user.first_name}}
              {{anuncio.perfil.user.last_name}}.
              {{anuncio.fecha}}
              </p>
              {% if anuncio.foto_anuncio %}
              <div class="media table-responsive">

                <img src="{{anuncio.foto_anuncio.url}}" alt="" style="height:400px;">
              </div>
              {% endif %}
            </div>
          </div>

        </div>

      </div>

      {% endfor %}


      <nav class="table-responsive">
        {% if anunciosAdmin.has_other_pages %}
          <ul class="pagination">
            {% if anunciosAdmin.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ anunciosAdmin.previous_page_number }}">Anterior
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Anterior</span>
              </li>
            {% endif %}
            {% for i in anunciosAdmin.paginator.page_range %}
              {% if anunciosAdmin.number == i %}
                <li class="page-item active">
                  <span class="page-link">{{ i }}
                    <span class="sr-only">(current)
                    </span>
                  </span>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ i }}">{{ i }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
            {% if anunciosAdmin.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ anunciosAdmin.next_page_number }}">Siguiente
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Siguiente
                </span>
              </li>
            {% endif %}
          </ul>
        {% endif %}
      </nav>
    </section>

    <hr>

    <section class="">

      <div class="row">
        <div class="col">
          <h3>Anuncios publicados por conserjes.</h3>
        </div>
      </div>

      {% for anuncio in anunciosConserje %}
      <div class="card shadow-sm rounded my-3 ">
        <div class="col my-1">

          <div class="row ">
            <div class="col">

              <div class="row">
                <div class="col-9">
                  <p class="" style="font-weight:bold; font-size:20px">{{anuncio.titulo}}</p>
                </div>
                {% if anuncio.perfil.user == request.user %}
                <div class="col-3">
                  {% if perms.condominio.change_anuncio %}
                  <a href="{% url 'condominio:editarAnun' anuncio.id %}">Editar
                    <i class="fas fa-edit color_update"></i>
                  </a>
                  {% endif %}
                  {% if perms.condominio.change_anuncio and perms.condominio.delete_anuncio %}
                  |
                  {% endif %}
                  {% if perms.condominio.delete_anuncio %}
                  <a href="{% url 'condominio:borrarAnun' anuncio.id %}">Eliminar
                    <i class="fas fa-trash-alt color_delete"></i>
                  </a>
                  {% endif %}
                </div>
                {% endif %}
              </div>
              <p class="">{{anuncio.descripcion}}</p>
              <p class="" style="font-style:oblique;">Publicado por:
              {{anuncio.perfil.user.first_name}}
              {{anuncio.perfil.user.last_name}}.
              {{anuncio.fecha}}
              </p>
              {% if anuncio.foto_anuncio %}
              <div class="media table-responsive">

                <img src="{{anuncio.foto_anuncio.url}}" alt="" style="height:400px;">
              </div>
              {% endif %}
            </div>
          </div>

        </div>

      </div>

      {% endfor %}


      <nav class="table-responsive">
        {% if anunciosConserje.has_other_pages %}
          <ul class="pagination">
            {% if anunciosConserje.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page2={{ anunciosConserje.previous_page_number }}">Anterior
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Anterior</span>
              </li>
            {% endif %}
            {% for i in anunciosConserje.paginator.page_range %}
              {% if anunciosConserje.number == i %}
                <li class="page-item active">
                  <span class="page-link">{{ i }}
                    <span class="sr-only">(current)
                    </span>
                  </span>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page2={{ i }}">{{ i }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
            {% if anunciosConserje.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page2={{ anunciosConserje.next_page_number }}">Siguiente
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Siguiente
                </span>
              </li>
            {% endif %}
          </ul>
        {% endif %}
      </nav>
    </section>

    <hr>

    <section class="">

      <div class="row">
        <div class="col">
          <h3>Anuncios publicados por habitantes del condominio.</h3>
        </div>
      </div>

      {% for anuncio in anunciosUser %}
      <div class="card shadow-sm rounded my-3 ">
        <div class="col my-1">

          <div class="row ">
            <div class="col">

              <div class="row">
                <div class="col-9">
                  <p class="" style="font-weight:bold; font-size:20px">{{anuncio.titulo}}</p>
                </div>
                {% if anuncio.perfil.user == request.user %}
                <div class="col-3">
                  {% if perms.condominio.change_anuncio %}
                  <a href="{% url 'condominio:editarAnun' anuncio.id %}">Editar
                    <i class="fas fa-edit color_update"></i>
                  </a>
                  {% endif %}
                  {% if perms.condominio.change_anuncio and perms.condominio.delete_anuncio %}
                  |
                  {% endif %}
                  {% if perms.condominio.delete_anuncio %}
                  <a href="{% url 'condominio:borrarAnun' anuncio.id %}">Eliminar
                    <i class="fas fa-trash-alt color_delete"></i>
                  </a>
                  {% endif %}
                </div>
                {% endif %}
              </div>
              <p class="">{{anuncio.descripcion}}</p>
              <p class="" style="font-style:oblique;">Publicado por:
              {{anuncio.perfil.user.first_name}}
              {{anuncio.perfil.user.last_name}}.
              {{anuncio.fecha}}
              </p>
              {% if anuncio.foto_anuncio %}
              <div class="media table-responsive">

                <img src="{{anuncio.foto_anuncio.url}}" alt="" style="height:400px;">
              </div>
              {% endif %}
            </div>
          </div>

        </div>

      </div>

      {% endfor %}


      <nav class="table-responsive">
        {% if anunciosUser.has_other_pages %}
          <ul class="pagination">
            {% if anunciosUser.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page3={{ anunciosUser.previous_page_number }}">Anterior
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Anterior</span>
              </li>
            {% endif %}
            {% for i in anunciosUser.paginator.page_range %}
              {% if anunciosUser.number == i %}
                <li class="page-item active">
                  <span class="page-link">{{ i }}
                    <span class="sr-only">(current)
                    </span>
                  </span>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page3={{ i }}">{{ i }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
            {% if anunciosUser.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page3={{ anunciosUser.next_page_number }}">Siguiente
                </a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Siguiente
                </span>
              </li>
            {% endif %}
          </ul>
        {% endif %}
      </nav>
    </section>

  </div>
</div>
{% endblock %}
