<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/cd3d196c18.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/sticky-footer/">

    <title>Página Condominio</title>

    <style>
      html{
        height: 100%;
      }
      body{
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    </style>
  </head>
  <body class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'condominio:home' %}">Condominio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              {% block active_navbar_home %}<a class="nav-link" href="{% url 'condominio:home' %}">Home</a>{% endblock %}
            </li>

            {% if request.user.is_authenticated %}
            <li class="nav-item">
              {% block active_navbar_perfil %}
              <a class="nav-link" href="{% url 'condominio:perfil' %}">Perfil</a>
              {% endblock %}
            </li>
            {% endif %}

            <li class="nav-item">
              {% block active_navbar_anuncios %}
              <a class="nav-link" href="{% url 'condominio:anuncios' %}">Anuncios</a>
              {% endblock %}
            </li>

            {% if perms.condominio.view_visita or perms.condominio.view_visitante or perms.condominio.view_departamento or perms.condominio.view_perfil %}
            <li class="nav-item dropdown">
              {% block active_navbar_opciones %}
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opciones
              </a>
              {% endblock %}
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% if perms.condominio.view_visita %}
                <a class="dropdown-item" href="{% url 'condominio:lista_visita' %}">Visitas</a>
                {% endif %}
                {% if perms.condominio.view_visitante %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'condominio:lista_visitante' %}">Visitantes</a>
                {% endif %}
                {% if perms.condominio.view_departamento %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'condominio:lista_departamento' %}">Departamentos</a>
                {% endif %}
                {% if perms.condominio.view_perfil %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'condominio:usuarios' %}">Usuarios</a>
                {% endif %}
              </div>
            </li>
            {% endif %}
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'auth_condominio:login' %}">Ingresar</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'auth_condominio:logout' %}">Salir</a>
            </li>
            {% endif %}
          </ul>
        </div>

      </div>
    </nav>

    <div class="container">
    {% block content_head %}
    {% endblock %}
    </div>
    
    <div class="container">
      {% block contenido %}
      {% endblock %}
    </div>


    <!-- Footer -->
    <footer class="footer mt-auto ">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 bg-light">© 2020 Copyright:
        <a href="{% url 'condominio:home' %}"> CondominioLasFloresxd.cl</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    {% block extra_js %}
    {% endblock %}


  </body>
</html>
