{% extends "condominio/base.html" %}
{% load bootstrap4 %}

{% block active_navbar_anuncio %}
<a class="nav-link active" href="{% url 'condominio:anuncios' %}">Anuncios</a>
{% endblock %}

{% block content_head %}
<div class="row mt-2">

  <div class="col-sm-6 col-md-8 col-lg-10">
    <h2>Crear anuncio</h2>
  </div>

</div>
{% endblock %}

{% block contenido %}
{% bootstrap_messages %}
<div class="row">
  <div class="col">
    <form class="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- {{form.as_p}} -->
      {% bootstrap_form form %}
      {% buttons %}
      <button type="submit" class="btn btn-success">
        Crear anuncio
      </button>
      {% endbuttons %}
    </form>
  </div>
</div>

{% endblock %}
