{% extends "condominio/base.html" %}
{% load bootstrap4 %}

{% block active_navbar_opciones %}
<a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Opciones
</a>
{% endblock %}

{% block content_head %}<h2>Agregar Departamento</h2>{% endblock %}

{% bootstrap_messages %}

{% block contenido %}
<form class="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
	  <button type="submit" class="btn btn-primary btn-lg">
	    <i class="fas fa-save"></i> Guardar departamento
	  </button>
	{% endbuttons %}
</form>
{% endblock %}
