{% extends "condominio/base.html" %}

{% block active_navbar_opciones %}
<a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Opciones
</a>
{% endblock %}

{% block content_head %}
<div class="row mt-2">
	<div class="col-sm-6 col-md-8 col-lg-10"><h2>Lista de Departamentos</h2></div>
	<div class="col-sm-6 col-md-4 col-lg-2">
		{% if perms.condominio.add_departamento %}
		<a href="{% url 'condominio:crear_departamento' %}" class="btn btn-success btn-block my-2">Crear Departamento</a>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block contenido %}
	<div class="row mt-4">
		<div class="col-md">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Numero</th>
						<th>Habitante</th>
						{% if perms.condominio.change_departamento or perms.condominio.delete_departamento %}
						<th>Accion</th>
						{% endif %}
					</tr>
				</thead>

				<tbody>
				{% for departamento in departamentos %}
					<tr>
						<td>{{departamento.numero}}</td>
 						<td>
							{% with departamento.perfil.all as perfiles %}
	              {% if perfiles %}
	                {% for perfil in perfiles %}
	                <span class="badge badge-secondary">{{perfil.user.first_name}} {{perfil.user.last_name}}</span>
	                {% endfor %}
	              {% endif %}
	            {% endwith %}
						</td>
						{% if perms.condominio.change_departamento or perms.condominio.delete_departamento %}
						<td>
							{% if perms.condominio.change_departamento %}
							<a href="{% url 'condominio:editar_departamento' departamento.id %}">Editar <i class="fas fa-edit color_update"></i></a>
							{% endif %}
							{% if perms.condominio.change_departamento and perms.condominio.delete_departamento %}
							 |
							{% endif %}
							{% if perms.condominio.delete_departamento %}
							<a href="{% url 'condominio:eliminar_departamento' departamento.id %}">Eliminar <i class="fas fa-trash-alt color_delete"></i></a>
							{% endif %}
						</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
