{% extends "condominio/base.html" %}
{% load bootstrap4 %}

{% block active_navbar_anuncios %}
<a class="nav-link active" href="{% url 'condominio:anuncios' %}">Anuncios</a>
{% endblock %}

{% block content_head %}<h2>Editar anuncio</h2>{% endblock %}

{% bootstrap_messages %}

{% block contenido %}
<form class="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
	  <button type="submit" class="btn btn-primary btn-lg">
	    <i class="fas fa-edit"></i> Editar anuncio
	  </button>
  {% endbuttons %}
</form>
{% endblock %}
