{% extends "condominio/base.html" %}

{% block active_navbar_opciones %}
<a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Opciones
</a>
{% endblock %}

{% block content_head %}<h2>Eliminar Usuario</h2>{% endblock %}

{% block contenido %}
<p>¿Está seguro que desea eliminar el usuario
  <strong>{{usuario.username}} ({{usuario.first_name}} {{usuario.last_name}})
  </strong>
  ?
</p>
<form class="" method="POST">
{% csrf_token %}
	<input type="submit" name="" class="btn btn-danger" value="Eliminar"> | <a href="{% url 'condominio:usuarios' %}" class="btn btn-light">Cancelar</a>
</form>
{% endblock %}
