{% extends "condominio/base.html" %}

{% block active_navbar_opciones %}
<a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Opciones
</a>
{% endblock %}

{% block content_head %}<h2>Eliminar Visita</h2>{% endblock %}

{% block contenido %}
<p>¿Esta seguro que desea eliminar la visita de
	{% with visita.visitante.all as visitantes %}
		{% if visitantes %}
			{% for visitante in visitantes %}
			<strong>{{visitante.nombre}}.</strong>
			{% endfor %}
		{% endif %}
	{% endwith %}
	?
</p>
<form class="" method="post">
{% csrf_token %}
	<input type="submit" name="" class="btn btn-danger" value="Eliminar"> | <a href="{% url 'condominio:lista_visita' %}" class="btn btn-light">Cancelar</a>
</form>
{% endblock %}
