{% extends "condominio/base.html" %}

{% block active_navbar_anuncios %}
<a class="nav-link active" href="{% url 'condominio:anuncios' %}">Anuncios</a>
{% endblock %}

{% block content_head %}<h2>Eliminar Anuncio</h2>{% endblock %}

{% block contenido %}
<p>¿Está seguro que desea eliminar el anuncio <strong>{{anuncio.titulo}}</strong>?</p>
<form class="" method="POST">
{% csrf_token %}
	<input type="submit" name="" class="btn btn-danger" value="Eliminar"> | <a href="{% url 'condominio:anuncios' %}" class="btn btn-light">Cancelar</a>
</form>
{% endblock %}
