{% extends "condominio/base.html" %}
{% load static %}

{% block active_navbar_home %}
<a class="nav-link active" href="{% url 'condominio:home' %}">Home</a>
{% endblock %}

{% block content_head %}
<div class="row mt-2">

  <div class="col-sm-6 col-md-8 col-lg-10">
    <h2>Bienvenido!
      {% if request.user.is_authenticated %}
      {{ request.user.username}},
      {% endif %}
      a Condominio Las Flores
     </h2>
  </div>

</div>
<hr>
{% endblock %}

{% block contenido %}


<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
      <img src="{% static 'site/images/Las-Flores-IV_9_Bono.jpg' %}" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item" data-interval="3000">
      <img src="{% static 'site/images/Las-Flores-IV_10.jpg' %}" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item" data-interval="3000">
      <img src="{% static 'site/images/Las-Flores-IV_7.jpg' %}" class="d-block w-100" alt="">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row mt-4">
  <div class="col-lg-7">
    <h4>Descripción</h4>
    <p>
      Condominio Las Flores, otra categoría en Santiago.
      <br>
      <br>
      Amplios deptos con living-comedor y cocina integrados, excelentes terrazas y modernas terminaciones.
      <br>
      <br>
      Desconéctate de la rutina con 10.000m² de áreas verdes, jardines, piscinas, zona fitness y espacios pet-friendly para compartir con tu mascota.
      <br>
      <br>
      Vive conectado con todo, cerca del metro L3 Los Libertadores, centros comerciales, locomoción, centros de estudios y más.
      <br>
      <br>
      Características y terminaciones: piso vinilico. Ventanas termopanel. Cocina estilo moderno equipadas con encimera vitrocerámica. Baños principales con ducha en obra y showerdoor. Espacio para lavadora. Grandes terrazas
      <br>
      <br>
      Equipamiento comunitario: salón gourmet. Centro fitness. Quinchos panorámicos en el último piso. Sector pet-friendly para tu mascota.
      <br>
      <br>
      * Valor no considera estacionamientos (desde UF 300 a 330).
    </p>
  </div>
  <div class="col-lg-5 d-none d-lg-block">
    <div class="table-responsive">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3331.6384472748464!2d-70.72605538495398!3d-33.38050398079412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c12e6c0fcc29%3A0xf2ce5b27d58eafc3!2sAlcalde%20Juan%20Larenas%20358%2C%20Quilicura%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1594173071537!5m2!1ses-419!2scl" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    </div>
  </div>
</div>

{% endblock %}
