{% extends "condominio/base.html" %}

{% block active_navbar_perfil %}
<a class="nav-link active" href="{% url 'condominio:perfil' %}">Perfil</a>
{% endblock %}

{% block content_head %}
<div class="row mt-2">

  <div class="col">
    <h2>Mi perfil</h2>
  </div>

</div>
{% endblock %}

{% block contenido %}

<div class="card shadow">
  <div class="col my-3">

    <div class="row">
      <div class="col">
            <p>username:  {{request.user.username}}</p>
            <p>Nombre:    {{request.user.first_name}}</p>
            <p>Email:     {{request.user.email}}</p>
            <p>Rut:       {{request.user.perfil.rut}}</p>
      </div>
    </div>

  </div>
</div>

<div class="card shadow my-3">
  <div class="col my-3">

    <div class="row">
      <div class="col">
        <p>Cambiar contraseña.</p>

      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-3 col-lg-2">
        <a class="btn btn-primary btn-block" href="{% url 'condominio:perfilPass' %}">Editar</a>

      </div>
    </div>

  </div>
</div>

{% endblock %}
