{% extends "condominio/base.html" %}

{% block active_navbar_opciones %}
<a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Opciones
</a>
{% endblock %}

{% block content_head %}
<div class="row mt-2">

  <div class="col-sm-6 col-md-8 col-lg-10">
    <h2>Usuarios Condominio</h2>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    {% if perms.condominio.add_perfil %}
    <a href="{% url 'auth_condominio:register' %}" class="btn btn-success btn-block">Crear Usuario</a>
    {% endif %}
  </div>

</div>
{% endblock %}

{% block contenido %}
<div class="row mt-4">
  <div class="col-md">
    <table class="table table-striped table-hover table-responsive">
      <thead class="">
        <tr>
          <th style="width:150px;">Usuario</th>
          <th style="width:250px;">Email</th>
          <th>Nombre/Apellido</th>
          <!-- <th>Tipo usuario</th> -->
          <th>Fecha creación</th>
          <th>Depto</th>
          {% if perms.condominio.change_perfil or perms.condominio.delete_perfil %}
          <th style="width:100px;">Acción</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for perfil in perfiles %}
        <tr>
          <td>{{perfil.user.username}}</td>
          <td>{{perfil.user.email}}</td>
          <td>{{perfil.user.first_name}} {{perfil.user.last_name}}</td>
          <!-- <td>{{perfil.user.groups.all.0}}</td> -->
          <td>{{perfil.user.date_joined}}</td>
          <td>
            {% with perfil.depto_perfil.all as deptos %}
              {% if deptos %}
                {% for depto in deptos %}
                <span>{{depto.numero}}</span>
                {% endfor %}
              {% endif %}
            {% endwith %}
          </td>
          {% if perms.condominio.change_perfil or perms.condominio.delete_perfil %}
          <td>
            {% if perms.condominio.change_perfil %}
            <a href="{% url 'condominio:editarUser' perfil.id %}">Editar <i class="fas fa-edit color_update"></i></a>
            {% endif %}
            {% if perms.condominio.change_perfil and perms.condominio.delete_perfil %}
						|
            {% endif %}
            {% if perms.condominio.delete_perfil %}
            <a href="{% url 'condominio:borrarUser' perfil.user.id %}" style="text-decoration: none;">
							Eliminar
              <i class="fas fa-trash-alt color_delete"></i>
            </a>
            {% endif %}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <nav>
      {% if perfiles.has_other_pages %}
        <ul class="pagination">
          {% if perfiles.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ perfiles.previous_page_number }}">Anterior
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Anterior</span>
            </li>
          {% endif %}
          {% for i in perfiles.paginator.page_range %}
            {% if perfiles.number == i %}
              <li class="page-item active">
                <span class="page-link">{{ i }}
                  <span class="sr-only">(current)
                  </span>
                </span>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
          {% if perfiles.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ perfiles.next_page_number }}">Siguiente
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Siguiente
              </span>
            </li>
          {% endif %}
        </ul>
      {% endif %}
    </nav>

  </div>
</div>


{% endblock %}
