{% extends "condominio/base.html" %}

{% block active_navbar_opciones %}
<a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Opciones
</a>
{% endblock %}

{% block content_head %}
<div class="row mt-2">
	<div class="col-sm-6 col-md-8 col-lg-10"><h2>Lista de Visitas</h2></div>
	<div class="col-sm-6 col-md-4 col-lg-2">
		{% if perms.condominio.add_visita %}
		<a href="{% url 'condominio:crear_visita' %}" class="btn btn-success btn-block">Crear Visita</a>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block contenido %}
	<div class="row mt-4">
		<div class="col">
			<table class="table table-striped table-hover">
				<thead class="">
					<tr>
						<th>Visita</th>
						<th>Departamento</th>
						<th>Fecha</th>
						<th>Observación</th>
						{% if perms.condominio.change_visita or perms.condominio.delete_visita %}
						<th>Acción</th>
						{% endif %}
					</tr>
				</thead>

				<tbody>
				{% for visita in visitas %}
					<tr>
						<td>
							{% with visita.visitante.all as visitantes %}
	              {% if visitantes %}
	                {% for visitante in visitantes %}
										{{visitante.nombre}} {{visitante.apellido}}.
									{% endfor %}
	              {% endif %}
	            {% endwith %}
						</td>
 						<td>{{visita.departamento.numero}}</td>
 						<td>{{visita.fecha}}</td>
 						<td>{{visita.observacion}}</td>
 						{% if perms.condominio.change_visita or perms.condominio.delete_visita %}
						<td>
							{% if perms.condominio.change_visita %}
							<a href="{% url 'condominio:editar_visita' visita.id %}">Editar <i class="fas fa-edit color_update"></i></a>
							{% endif %}
							{% if perms.condominio.change_visita and perms.condominio.delete_visita %}
							 |
							{% endif %}
							{% if perms.condominio.delete_visita %}
							<a href="{% url 'condominio:eliminar_visita' visita.id %}">Eliminar <i class="fas fa-trash-alt color_delete"></i></a>
							{% endif %}
						</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
