{% extends "condominio/base.html" %}

{% block active_navbar_opciones %}
<a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Opciones
</a>
{% endblock %}

{% block content_head %}
<div class="row mt-2">
	<div class="col-sm-6 col-md-8 col-lg-10"><h2>Lista de Visitantes</h2></div>
	<div class="col-sm-6 col-md-4 col-lg-2">
		{% if perms.condominio.add_visitante %}
		<a href="{% url 'condominio:crear_visitante' %}" class="btn btn-success btn-block">Crear Visitante</a>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block contenido %}
	<div class="row">
		<div class="col-md">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Visitante</th>
						<th>RUT</th>
						{% if perms.condominio.change_visitante or perms.condominio.delete_visitante %}
						<th>Acción</th>
						{% endif %}
					</tr>
				</thead>

				<tbody>
				{% for visitante in visitantes %}
					<tr>
						<td style="width:300px;">{{visitante.nombre}} {{visitante.apellido}}</td>
 						<td style="width:100px;">{{visitante.rut}}</td>
 						{% if perms.condominio.change_visitante or perms.condominio.delete_visitante %}
						<td style="width:150px;">
							{% if perms.condominio.change_visitante %}
							<a href="{% url 'condominio:editar_visitante' visitante.id %}">Editar <i class="fas fa-edit color_update"></i></a>
							{% endif %}
							{% if perms.condominio.change_visitante and perms.condominio.delete_visitante %}
							 |
							{% endif %}
							{% if perms.condominio.delete_visitante %}
							<a href="{% url 'condominio:eliminar_visitante' visitante.id %}">Eliminar <i class="fas fa-trash-alt color_delete"></i></a>
							{% endif %}
						</td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
