{% extends "condominio/base.html" %}
{% load bootstrap4 %}


{% block contenido %}

<div class="container text-center">

  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-5 align-self-center text-center mt-4">
      {% bootstrap_messages %}
      <h2 class="h3 mb-3 font-weight-normal">Inicia sesión</h2>

      <form class="px-4 py-3" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Nombre de usuario</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Usuario">
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
        </div>

        <button type="submit" class="btn btn-primary">Ingresar</button>
      </form>
      <div class="dropdown-divider"></div>

    </div>

  </div>

</div>


{% endblock %}
