{% extends "condominio/base.html" %}

{% load bootstrap4 %}
{% block contenido %}

<div class="container">

  <div class="row">
    <div class="col">
      {% bootstrap_messages %}
      <h2 class="h3 mb-3 font-weight-normal">Registrar usuario</h2>

      <form class="px-4 py-3" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="username">Nombre de usuario</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="username" name="username" placeholder="Usuario">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="first_name">Nombre</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Nombre">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="last_name">Apellido</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Apellido">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="email">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="rut">Rut</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="rut" name="rut" placeholder="Rut. Ej: 11.111.111-1">
          </div>
        </div>

        {% bootstrap_field user_form.groups %}

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="password1">Contraseña</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Contraseña">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="password2">Repita su contraseña</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Contraseña">
          </div>
        </div>

        {% comment %}
        {% bootstrap_form user_form %}
        {% bootstrap_form perfil_form %}
        {% endcomment %}


        <button type="submit" class="btn btn-primary">Registrar</button>
      </form>
      <div class="dropdown-divider"></div>
      <!-- <a class="dropdown-item" href="{% url 'auth_condominio:login' %}">¿Ya tienes una cuenta? Inicia sesión</a> -->

    </div>

  </div>

</div>


{% endblock %}
